@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.organizersSection h1{
    font-size: 3rem;
    font-weight: bolder;
    padding-bottom: 4vh;
}

.organizers-grid-container{
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.organizersSection {
    text-align: center;
    width:85%;
    padding: 4vh 0vh;
    margin: 4vh auto;
    /* border-radius: 14px; */
}

.EachOrganizer{
    margin: 1vh 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
.EachOrganizer:hover{
    /* translate: 0 -5px; */
    scale: 105%;
}

.organizer-img{
    height: 120px;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.organizer-img img{
    max-height: 100%;
    max-width: 100%;
}

.organizer-p{
    margin-top: 10px;
    font-size: 1.2rem;
    color: rgb(145, 143, 143);
    font-weight: bold;
}

@media (max-width: 1070px) {
    .organizers-grid-container{
        grid-template-columns: 1fr 1fr;
    }
    .EachOrganizer{
        margin:2vh 1vh;
    }
}

@media (max-width: 700px) {
    .organizers-grid-container{
        grid-template-columns: 1fr;
    }
}