/* .Row {
    text-align: center;
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.grid-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.prizesection {
    text-align: center;
    width:95%;
    padding: 4vh 6vh;
    margin: 4vh auto;
    border-radius: 14px;
    background-color: #f3effe;
}

.prizesection h1{
    font-weight: bolder;
    font-size: 2.5rem;
}

.EachPrizes{
    margin: 1vh 4vh;
    text-align: left;
}

.EachPrizes p{
    font-size: 1.2rem;
    color: rgb(145, 143, 143);
}

.EachPrizes h2{
    font-size: 1.7rem;
}


@media (max-width: 570px) {
    .grid-container{
        grid-template-columns: 1fr;
    }
    .EachPrizes{
        margin:4vh 1vh;
    }
}