.SpeakersSection h1 {
    font-size: 3rem;
    font-weight: bolder;
    padding-bottom: 4vh;
}

.speakers-grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.SpeakersSection {
    text-align: center;
    width: 85%;
    padding: 4vh 0vh;
    margin: 4vh auto;
    /* border-radius: 14px; */
}

.EachSpeaker {
    margin: 1vh 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.EachSpeaker:hover {
    translate: 0 -5px;
    /* scale: 105%; */
}

.speaker-img {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.speaker-img img {
    /* max-height: 100%;
    max-width: 100%; */
    border: 5px solid #ffc2fc;
    border-radius: 50%;
}

.speaker-p {
    margin-top: 15px;
    font-size: 1.2rem;
    color: rgb(145, 143, 143);
    /* font-weight: bold; */
}

.speaker-p .p-name {
    font-weight: 600;
}

.speaker-p .p-designation {
    font-weight: 800;
}

@media (max-width: 970px) {
    .speakers-grid-container {
        grid-template-columns: 1fr;
    }
    .EachSpeaker {
        margin: 2vh 1vh;
    }
}