.timeline-section{
    margin: 5rem auto;
    width: 60%;
    @media screen and (max-width: 1250px){
        width: 80%;
        // width: fit-content;
        // margin: 5rem 0;
        // margin: 3rem 0;
        // padding: 1rem;           
    }
    @media screen and (max-width: 700px){
        width: 100%;
        margin: 3rem 0;
        // padding: 1rem;           
    }
    h2{
        font-size: 1.3rem;
        margin-bottom: 1rem;
        @media screen and (max-width: 700px){
            font-size: 1.2rem;
        }
    }
    .para{  
        font-size: 1.3rem;
        @media screen and (max-width: 700px){
            font-size: 1.2rem;
            line-height: 1.2rem;
        }
    }

    

}  